<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container" data-aos="zoom-out" data-aos-delay="100">
  <div class="text-center">
    <h1 style="color:white;font-size:100px;">MaKaM</h1>
    <div class="pt-4"  style="padding:0 300px;">
      <div class="card text-center">
        <div class="card-header btnLogin">
          <p class="card-title text-center fs-5 text-white">Where do you want to rent?</p>
        </div>
        <div class="card-body">
          <div class="row g-2 mb-3">
            <div class="col-md">
              <!-- <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid">
                  <option selected>Select de city</option>
                  <option value="Douala" (click)="selectYaounde()">Douala</option>
                  <option value="Yaounde" (click)="selectDouala()">Yaounde</option>
                </select>
                <label for="floatingSelectGrid">In which city ?</label>
              </div> -->
              <div class="btn-group d-grid" dropdown>
                <button id="button-basic" style="border: 1px solid rgb(129, 128, 128);" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                  Select city <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" (click)="selectDouala()">Douala</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="selectYaounde()">Yaounde</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="15000" >
                <label for="floatingInputGrid">Enter your maximum budget in CFA</label>
              </div>
            </div>
          </div>

          <div class="row gy-2 mb-4">
            <div class="col">
              <div class="text-start form-check border rounded-2" style="width:200px;">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="Select_ChambreMod()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                  Chambre moderne
                </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="text-start form-check border rounded-2">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)=" SelectChambreSim()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                 chambre simple
                </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="text-start form-check border rounded-2" style="width:200px;">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)=" SelectStudioMod()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                  studio moderne
                </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="text-start form-check border rounded-2" style="width:200px;">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="SelectMiNuStudio()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                 Mini studio
                </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="text-start form-check border rounded-2" style="width:200px;">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="Select_Appart()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                 Appartement
                </label>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="text-start form-check border rounded-2" style="width:200px;">
                <div class="mx-2">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="SelectAppartMeub()">
                <label class="form-check-label fw-light" for="flexCheckDefault" style="font-size:small;">
                Appartement meubler
                </label>
                </div>
              </div>
            </div>

          </div>

          <div class="text-center d-grid mb-3">
            <button class="btn btnLogin text-white" [disabled]="city == '' || type == ''" (click)="Search()">Search</button>
          </div>
          <div>
            <small class="fw-light" style="color:blue;cursor:pointer">Lancer une rechercher avancer</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>
<!-- End Hero -->
