<main class="principal">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto" style="text-decoration:none;">
                <span class="d-none d-lg-block fw-bold fs-1 text-white">MAkAM <span style="font-size:medium">for students</span></span>
              </a>
            </div><!-- End Logo -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create account</p>
                </div>
                <form class="row g-3 needs-validation" novalidate>
                  <div class="col-12">
                    <label for="yourName" class="form-label">Your full name</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">name</span>
                      <input type="text" name="fullname" placeholder="YANNICK-JOSEPH MBIDA OBIANG" class="form-control" id="fullname" [(ngModel)]="first_name" required>
                      <div class="invalid-feedback">Please enter your full name.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">@</span>
                      <input type="text" name="email" class="form-control" id="yourEmail" required [(ngModel)]="email">
                      <div class="invalid-feedback">Please enter a valid email adress.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourpass" class="form-label">Password</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">pass</span>
                      <input type="password" name="pass" class="form-control" id="yourpass" required [(ngModel)]="password">
                      <div class="invalid-feedback">Please enter your password</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="confirmpass" class="form-label">Confirm password</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">pass</span>
                      <input type="password" name="confirmpass" class="form-control" id="confirmpass" required [(ngModel)]="confirmPassword">
                      <div class="invalid-feedback">Please confirm your password</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <select class="form-select" aria-label="Default select example" id="citySelect">
                      <option selected>Select Your city</option>
                      <option value="Dschang" (click)="city = 'Dschang'">Dschang</option>
                      <option value="Douala"  (click)="city = 'Douala'">Douala</option>
                      <option value="Yaounde"  (click)="city = 'Yaounde'">Yaounde</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <label class="form-label">Register As:</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="student = !student">
                      <label class="form-check-label" for="flexRadioDefault1">
                       Student or other
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="advertiser = !advertiser">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Advitiser
                      </label>
                      <p>{{advertiser}}</p>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btnLogin w-100" [disabled]="(password == '' || confirmPassword == '' || email == '' || city == '') && (student == false && advertiser== false)" (click)="register()">
                      <span *ngIf="loginSpinner == false">Create Account</span>
                      <span  *ngIf="loginSpinner == true">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </span>
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Already have an account? <a [routerLink]="['/login']">Log in</a></p>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
