<main class="principal">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block fw-bold fs-1 text-white">MAkAM <span style="font-size:medium">for students</span></span>
              </a>
            </div><!-- End Logo -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>
                <form class="row g-3 needs-validation" novalidate>
                  <div class="col-12">
                    <label for="yourUsername" class="form-label">email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">@</span>
                      <input type="email" name="email" class="form-control" id="email" required [(ngModel)]="email">
                      <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text btnLogin" id="inputGroupPrepend">pass</span>
                      <input type="password" name="password" class="form-control" id="password" required [(ngModel)] = "password">
                      <div class="invalid-feedback">Please enter your password</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btnLogin w-100" (click)="Login()" [disabled]="email == '' || password == '' ">
                      <span *ngIf="login_spinner == false" >Login</span>
                      <span  *ngIf="login_spinner == true">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </span>
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Don't have account? <a [routerLink]="['/register']">Create an account</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main><!-- End #main -->
